* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #ffe4e4;
  padding: 1.2rem 0;
  margin: 0;
  height: 10%;
}

.wrapper,
.result {
  width: 100%;
  margin: 0 auto;
  height: 90%;
  background-color: #ffe4e4;
  position: relative;
}

.result {
  display: none;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
}

#fixed,
#runner {
  position: relative;
  border: 3px solid rgba(196, 77, 86, 0.8);
  background-color: rgba(196, 77, 86, 1);
}

#fixed {
  top: 80%;
  left: 0%;
  width: 7rem;
  height: 3.5rem;
  font-size: 1rem;
  opacity: 0.2;
  transition: 0.3s;
}

#fixed:hover {
  cursor: pointer;
  opacity: 1;
}

#runner {
  top: 30%;
  left: 40%;
  width: 20rem;
  height: 8rem;
  font-size: 2.8rem;
  transition: 0.1s;
}

.heart {
  height: 100px;
  width: 100px;
  position: relative;
  background: #f20044;
  transform: rotate(-45deg);
  box-shadow: -30px 30px 120px #f20044;
  animation: heart 0.6s linear infinite;
}

.heart:before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  top: -50%;
  border-radius: 80px;
  background: #f20044;
  box-shadow: -30px -30px 120px #f20044;
}

.heart:after {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  right: -50%;
  background: #f20044;
  border-radius: 80px;
  box-shadow: 30px 30px 120px #f20044;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }

  80% {
    transform: rotate(-45deg) scale(1);
  }

  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}
